.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  color:#11425f;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  text-decoration: none;
  color: #11425f;
  font-size: 16px;
  font-weight: 500;
}

.nav-links li a:hover {
  color: #ddd;
}

.auth-buttons {
  display: flex;
  gap: 1px; /* this brings them closer or farther */
}

.login-btn {
  padding: 8px 18px;
  color:#11425f;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}

.login-btn:hover {
  background: #eaeaff;
}

.signup-btn {
  padding: 8px 18px;
  color:#11425f;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}

.signup-btn:hover {
  background: #eaeaff;
}
